.header {
    color: rgb(5, 67, 130);
    padding: 40px;
    font-size: 40px;
    text-align: center;
  }
.content {
    color: black;
    font-size: 20px;
    text-align: center;
}
.total {
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}
.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}